@model WorkSpace_PreAltaClientes.Web.Models.ClienteViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <ul class="nav nav-tabs">
        <li class="active">     <a data-toggle="tab" href="#cliente">Cliente</a></li>
        <li class="nav-item">   <a data-toggle="tab" href="#producto">Productos</a></li>
        <li class="nav-item">   <a data-toggle="tab" href="#dashboard">Graficas</a></li>
    </ul>
    <div class="tab-content clearfix" style="padding-top: 20px;">

        <div id="cliente" class="tab-pane active">

            @*<form>*@
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(x => x.nombre)
                    @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @id = "nombre" })
                    @*<input type="text" class="form-control" id="nombre" placeholder="Nombre">*@
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="inputcuit">Cuit</label>
                @Html.TextBoxFor(x => x.cuit, new { @class = "form-control", @id = "cuit" })
                @*<input type="text" class="form-control" id="inputcuit" placeholder="1234">*@
            </div>
            <div class="form-group">
                <label for="inputdireccion">Address</label>
                <input type="text" class="form-control" id="inputdireccion" placeholder="Apartment, studio, or floor">
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputciudad">Ciudad</label>
                    <input type="text" class="form-control" id="inputciudad">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputprovincia">Provincia</label>
                    <select id="inputprovincia" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputcp">Codigo Postal</label>
                    <input type="text" class="form-control" id="inputcp">
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(x => x.email)
                    @*<label for="inputemail">Email</label>*@
                    @Html.TextBoxFor(x => x.email, new { @class = "form-control", @id = "email" })
                    @*<input type="email" class="form-control" id="inputemail" placeholder="Email">*@
                </div>

            </div>

            @*</form>*@

        </div>
        <div id="producto" class="tab-pane active">
        </div>
        <div id="dashboard" class="tab-pane active">
        </div>

        <div class="form-group col-sm-4 text-center">
            @*<button type="submit" class="btn btn-primary">Save</button>*@
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        </div>

        }


